.modal-open{
  .modal {
    .modal-dialog{
      @include positionCenter();
      width: 100%;
      border: $spacing solid transparent;
      margin: 0;
    }
    .modal-content{
      padding: 20px 30px;
      border-radius: 0;
    }
    @media (max-width: #{$vp-desktop-max}) and (min-width: #{$vp-desktop-middle}){
          font-size: 18px;
        }
    @media (min-width: #{$vp-desktop-max}){
        font-size: 21px;
      }
    @media (min-width: $vp-tabletDesktop-min){
      .modal-content{
        border-radius: 4px;
        padding: 20px 30px;
      }
      .modal-dialog{
        max-width: 430px;
      }
    }
  }
}

.modal-header{
  padding: 0 0 10px;
  border-bottom: 1px solid #cbcbcb;
  color: $color-title;
  overflow: hidden;

  strong{
    font-weight: normal;
    line-height: 40px;
  }

  .close{
    font-size: 40px;
    color: $color-base;
    opacity: 1;
  }
}

.modal-body{
  padding: 30px 0;
}

@media (min-width: $vp-tabletDesktop-min){
  .modal-header{
    border-bottom: 0;
    font-family: $font-family-bold;
    position: relative;
    overflow: visible;

    .close{
      position: absolute;
      @include sprite($article-close);
      margin-top: 0;
      right: 0;
      top: 0;
      span{
        display: none;
      }
    }
  }
  .modal-body{
    .form-control{
      background: #fff;
      box-shadow: none;
      border: 1px solid #e1e1e1;
    }
    .btn-rss{
      .icon-rss{
        // @include sprite($rss-color);
      }
      &:hover{
        .icon-rss{
          // @include sprite($rss-hover);
        }
      }
    }
  }


  //tablet-contact modal
  .modal-open .modal.tablet-contact{
    .modal-content{
      padding: 0;
      background: none;
      box-shadow: none;
      border:0;
      color: #ccc;
      font-family: $font-family-light;
    }

    .modal-header{
      padding: 20px 50px;
      margin: 0 0 10px;
      background: #fff;
      border-radius: 4px;
      color: #ccc;
      font-size: 16px;
      font-family: $font-family-light;
      
      img{
        margin: 0 10px 0 0;
      }

      .close{
        background: none;
        position: static;
        span{
          display: block;
          color: #414141;
        }
      }
    }

    .modal-body{
      padding: 20px 50px;
      background: #fff;
      border-radius: 4px;

      .form-control{
        background: #f4f4f4;
        border-color: #f4f4f4;
        color: #ccc;
        font-family: $font-family-light;
      }
      textarea{
        min-height: 70px;
        resize: none;
      }

      .btn-holder{
        text-align: right;
        .btn{
          background: #000;
          color: #fff;
          border-radius: 0;
          border-color: #000;
          line-height: 22px;
          padding: 6px 40px;
          
          &:hover{
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }

}

.btn-rss {
  i {
    font-size: 24px;
  }
}