/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-inside-name: 'arrow-inside';
$arrow-inside-x: 22px;
$arrow-inside-y: 115px;
$arrow-inside-offset-x: -22px;
$arrow-inside-offset-y: -115px;
$arrow-inside-width: 16px;
$arrow-inside-height: 40px;
$arrow-inside-total-width: 277px;
$arrow-inside-total-height: 214px;
$arrow-inside-image: '/client/styles/images/sprite.png';
$arrow-inside: (22px, 115px, -22px, -115px, 16px, 40px, 277px, 214px, '/client/styles/images/sprite.png', 'arrow-inside', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 190px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -190px;
$arrow-left-width: 14px;
$arrow-left-height: 24px;
$arrow-left-total-width: 277px;
$arrow-left-total-height: 214px;
$arrow-left-image: '/client/styles/images/sprite.png';
$arrow-left: (0px, 190px, 0px, -190px, 14px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'arrow-left', );
$arrow-top-name: 'arrow-top';
$arrow-top-x: 57px;
$arrow-top-y: 190px;
$arrow-top-offset-x: -57px;
$arrow-top-offset-y: -190px;
$arrow-top-width: 14px;
$arrow-top-height: 24px;
$arrow-top-total-width: 277px;
$arrow-top-total-height: 214px;
$arrow-top-image: '/client/styles/images/sprite.png';
$arrow-top: (57px, 190px, -57px, -190px, 14px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'arrow-top', );
$article-arrow-name: 'article-arrow';
$article-arrow-x: 92px;
$article-arrow-y: 57px;
$article-arrow-offset-x: -92px;
$article-arrow-offset-y: -57px;
$article-arrow-width: 42px;
$article-arrow-height: 16px;
$article-arrow-total-width: 277px;
$article-arrow-total-height: 214px;
$article-arrow-image: '/client/styles/images/sprite.png';
$article-arrow: (92px, 57px, -92px, -57px, 42px, 16px, 277px, 214px, '/client/styles/images/sprite.png', 'article-arrow', );
$article-close-name: 'article-close';
$article-close-x: 247px;
$article-close-y: 57px;
$article-close-offset-x: -247px;
$article-close-offset-y: -57px;
$article-close-width: 15px;
$article-close-height: 14px;
$article-close-total-width: 277px;
$article-close-total-height: 214px;
$article-close-image: '/client/styles/images/sprite.png';
$article-close: (247px, 57px, -247px, -57px, 15px, 14px, 277px, 214px, '/client/styles/images/sprite.png', 'article-close', );
$audio-play-name: 'audio-play';
$audio-play-x: 29px;
$audio-play-y: 164px;
$audio-play-offset-x: -29px;
$audio-play-offset-y: -164px;
$audio-play-width: 13px;
$audio-play-height: 18px;
$audio-play-total-width: 277px;
$audio-play-total-height: 214px;
$audio-play-image: '/client/styles/images/sprite.png';
$audio-play: (29px, 164px, -29px, -164px, 13px, 18px, 277px, 214px, '/client/styles/images/sprite.png', 'audio-play', );
$audio-sound-name: 'audio-sound';
$audio-sound-x: 85px;
$audio-sound-y: 144px;
$audio-sound-offset-x: -85px;
$audio-sound-offset-y: -144px;
$audio-sound-width: 14px;
$audio-sound-height: 10px;
$audio-sound-total-width: 277px;
$audio-sound-total-height: 214px;
$audio-sound-image: '/client/styles/images/sprite.png';
$audio-sound: (85px, 144px, -85px, -144px, 14px, 10px, 277px, 214px, '/client/styles/images/sprite.png', 'audio-sound', );
$close-detail-name: 'close-detail';
$close-detail-x: 151px;
$close-detail-y: 115px;
$close-detail-offset-x: -151px;
$close-detail-offset-y: -115px;
$close-detail-width: 24px;
$close-detail-height: 24px;
$close-detail-total-width: 277px;
$close-detail-total-height: 214px;
$close-detail-image: '/client/styles/images/sprite.png';
$close-detail: (151px, 115px, -151px, -115px, 24px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'close-detail', );
$close-name: 'close';
$close-x: 64px;
$close-y: 115px;
$close-offset-x: -64px;
$close-offset-y: -115px;
$close-width: 24px;
$close-height: 24px;
$close-total-width: 277px;
$close-total-height: 214px;
$close-image: '/client/styles/images/sprite.png';
$close: (64px, 115px, -64px, -115px, 24px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'close', );
$date-name: 'date';
$date-x: 267px;
$date-y: 57px;
$date-offset-x: -267px;
$date-offset-y: -57px;
$date-width: 8px;
$date-height: 8px;
$date-total-width: 277px;
$date-total-height: 214px;
$date-image: '/client/styles/images/sprite.png';
$date: (267px, 57px, -267px, -57px, 8px, 8px, 277px, 214px, '/client/styles/images/sprite.png', 'date', );
$facebook-hover-name: 'facebook-hover';
$facebook-hover-x: 59px;
$facebook-hover-y: 90px;
$facebook-hover-offset-x: -59px;
$facebook-hover-offset-y: -90px;
$facebook-hover-width: 21px;
$facebook-hover-height: 20px;
$facebook-hover-total-width: 277px;
$facebook-hover-total-height: 214px;
$facebook-hover-image: '/client/styles/images/sprite.png';
$facebook-hover: (59px, 90px, -59px, -90px, 21px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'facebook-hover', );
$facebook-name: 'facebook';
$facebook-x: 85px;
$facebook-y: 90px;
$facebook-offset-x: -85px;
$facebook-offset-y: -90px;
$facebook-width: 21px;
$facebook-height: 20px;
$facebook-total-width: 277px;
$facebook-total-height: 214px;
$facebook-image: '/client/styles/images/sprite.png';
$facebook: (85px, 90px, -85px, -90px, 21px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'facebook', );
$filter-checked-name: 'filter-checked';
$filter-checked-x: 180px;
$filter-checked-y: 115px;
$filter-checked-offset-x: -180px;
$filter-checked-offset-y: -115px;
$filter-checked-width: 24px;
$filter-checked-height: 21px;
$filter-checked-total-width: 277px;
$filter-checked-total-height: 214px;
$filter-checked-image: '/client/styles/images/sprite.png';
$filter-checked: (180px, 115px, -180px, -115px, 24px, 21px, 277px, 214px, '/client/styles/images/sprite.png', 'filter-checked', );
$filter-open-name: 'filter-open';
$filter-open-x: 209px;
$filter-open-y: 115px;
$filter-open-offset-x: -209px;
$filter-open-offset-y: -115px;
$filter-open-width: 24px;
$filter-open-height: 21px;
$filter-open-total-width: 277px;
$filter-open-total-height: 214px;
$filter-open-image: '/client/styles/images/sprite.png';
$filter-open: (209px, 115px, -209px, -115px, 24px, 21px, 277px, 214px, '/client/styles/images/sprite.png', 'filter-open', );
$filter-name: 'filter';
$filter-x: 238px;
$filter-y: 115px;
$filter-offset-x: -238px;
$filter-offset-y: -115px;
$filter-width: 24px;
$filter-height: 21px;
$filter-total-width: 277px;
$filter-total-height: 214px;
$filter-image: '/client/styles/images/sprite.png';
$filter: (238px, 115px, -238px, -115px, 24px, 21px, 277px, 214px, '/client/styles/images/sprite.png', 'filter', );
$instagram-hover-name: 'instagram-hover';
$instagram-hover-x: 136px;
$instagram-hover-y: 90px;
$instagram-hover-offset-x: -136px;
$instagram-hover-offset-y: -90px;
$instagram-hover-width: 20px;
$instagram-hover-height: 20px;
$instagram-hover-total-width: 277px;
$instagram-hover-total-height: 214px;
$instagram-hover-image: '/client/styles/images/sprite.png';
$instagram-hover: (136px, 90px, -136px, -90px, 20px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'instagram-hover', );
$instagram-name: 'instagram';
$instagram-x: 111px;
$instagram-y: 90px;
$instagram-offset-x: -111px;
$instagram-offset-y: -90px;
$instagram-width: 20px;
$instagram-height: 20px;
$instagram-total-width: 277px;
$instagram-total-height: 214px;
$instagram-image: '/client/styles/images/sprite.png';
$instagram: (111px, 90px, -111px, -90px, 20px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'instagram', );
$lan-arrow-detail-name: 'lan-arrow-detail';
$lan-arrow-detail-x: 0px;
$lan-arrow-detail-y: 115px;
$lan-arrow-detail-offset-x: 0px;
$lan-arrow-detail-offset-y: -115px;
$lan-arrow-detail-width: 17px;
$lan-arrow-detail-height: 44px;
$lan-arrow-detail-total-width: 277px;
$lan-arrow-detail-total-height: 214px;
$lan-arrow-detail-image: '/client/styles/images/sprite.png';
$lan-arrow-detail: (0px, 115px, 0px, -115px, 17px, 44px, 277px, 214px, '/client/styles/images/sprite.png', 'lan-arrow-detail', );
$left-article-arrow-name: 'left-article-arrow';
$left-article-arrow-x: 43px;
$left-article-arrow-y: 115px;
$left-article-arrow-offset-x: -43px;
$left-article-arrow-offset-y: -115px;
$left-article-arrow-width: 16px;
$left-article-arrow-height: 40px;
$left-article-arrow-total-width: 277px;
$left-article-arrow-total-height: 214px;
$left-article-arrow-image: '/client/styles/images/sprite.png';
$left-article-arrow: (43px, 115px, -43px, -115px, 16px, 40px, 277px, 214px, '/client/styles/images/sprite.png', 'left-article-arrow', );
$mail-hover-name: 'mail-hover';
$mail-hover-x: 139px;
$mail-hover-y: 57px;
$mail-hover-offset-x: -139px;
$mail-hover-offset-y: -57px;
$mail-hover-width: 24px;
$mail-hover-height: 16px;
$mail-hover-total-width: 277px;
$mail-hover-total-height: 214px;
$mail-hover-image: '/client/styles/images/sprite.png';
$mail-hover: (139px, 57px, -139px, -57px, 24px, 16px, 277px, 214px, '/client/styles/images/sprite.png', 'mail-hover', );
$mail-name: 'mail';
$mail-x: 168px;
$mail-y: 57px;
$mail-offset-x: -168px;
$mail-offset-y: -57px;
$mail-width: 24px;
$mail-height: 16px;
$mail-total-width: 277px;
$mail-total-height: 214px;
$mail-image: '/client/styles/images/sprite.png';
$mail: (168px, 57px, -168px, -57px, 24px, 16px, 277px, 214px, '/client/styles/images/sprite.png', 'mail', );
$news-close-name: 'news-close';
$news-close-x: 59px;
$news-close-y: 57px;
$news-close-offset-x: -59px;
$news-close-offset-y: -57px;
$news-close-width: 28px;
$news-close-height: 28px;
$news-close-total-width: 277px;
$news-close-total-height: 214px;
$news-close-image: '/client/styles/images/sprite.png';
$news-close: (59px, 57px, -59px, -57px, 28px, 28px, 277px, 214px, '/client/styles/images/sprite.png', 'news-close', );
$overview-name: 'overview';
$overview-x: 0px;
$overview-y: 164px;
$overview-offset-x: 0px;
$overview-offset-y: -164px;
$overview-width: 24px;
$overview-height: 21px;
$overview-total-width: 277px;
$overview-total-height: 214px;
$overview-image: '/client/styles/images/sprite.png';
$overview: (0px, 164px, 0px, -164px, 24px, 21px, 277px, 214px, '/client/styles/images/sprite.png', 'overview', );
$pinterest-hover-name: 'pinterest-hover';
$pinterest-hover-x: 161px;
$pinterest-hover-y: 90px;
$pinterest-hover-offset-x: -161px;
$pinterest-hover-offset-y: -90px;
$pinterest-hover-width: 20px;
$pinterest-hover-height: 20px;
$pinterest-hover-total-width: 277px;
$pinterest-hover-total-height: 214px;
$pinterest-hover-image: '/client/styles/images/sprite.png';
$pinterest-hover: (161px, 90px, -161px, -90px, 20px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'pinterest-hover', );
$pinterest-name: 'pinterest';
$pinterest-x: 186px;
$pinterest-y: 90px;
$pinterest-offset-x: -186px;
$pinterest-offset-y: -90px;
$pinterest-width: 20px;
$pinterest-height: 20px;
$pinterest-total-width: 277px;
$pinterest-total-height: 214px;
$pinterest-image: '/client/styles/images/sprite.png';
$pinterest: (186px, 90px, -186px, -90px, 20px, 20px, 277px, 214px, '/client/styles/images/sprite.png', 'pinterest', );
$play-name: 'play';
$play-x: 0px;
$play-y: 57px;
$play-offset-x: 0px;
$play-offset-y: -57px;
$play-width: 54px;
$play-height: 53px;
$play-total-width: 277px;
$play-total-height: 214px;
$play-image: '/client/styles/images/sprite.png';
$play: (0px, 57px, 0px, -57px, 54px, 53px, 277px, 214px, '/client/styles/images/sprite.png', 'play', );
$postbank-innovation-name: 'postbank-innovation';
$postbank-innovation-x: 0px;
$postbank-innovation-y: 0px;
$postbank-innovation-offset-x: 0px;
$postbank-innovation-offset-y: 0px;
$postbank-innovation-width: 277px;
$postbank-innovation-height: 52px;
$postbank-innovation-total-width: 277px;
$postbank-innovation-total-height: 214px;
$postbank-innovation-image: '/client/styles/images/sprite.png';
$postbank-innovation: (0px, 0px, 0px, 0px, 277px, 52px, 277px, 214px, '/client/styles/images/sprite.png', 'postbank-innovation', );
$rss-color-name: 'rss-color';
$rss-color-x: 211px;
$rss-color-y: 90px;
$rss-color-offset-x: -211px;
$rss-color-offset-y: -90px;
$rss-color-width: 18px;
$rss-color-height: 18px;
$rss-color-total-width: 277px;
$rss-color-total-height: 214px;
$rss-color-image: '/client/styles/images/sprite.png';
$rss-color: (211px, 90px, -211px, -90px, 18px, 18px, 277px, 214px, '/client/styles/images/sprite.png', 'rss-color', );
$rss-hover-name: 'rss-hover';
$rss-hover-x: 234px;
$rss-hover-y: 90px;
$rss-hover-offset-x: -234px;
$rss-hover-offset-y: -90px;
$rss-hover-width: 18px;
$rss-hover-height: 18px;
$rss-hover-total-width: 277px;
$rss-hover-total-height: 214px;
$rss-hover-image: '/client/styles/images/sprite.png';
$rss-hover: (234px, 90px, -234px, -90px, 18px, 18px, 277px, 214px, '/client/styles/images/sprite.png', 'rss-hover', );
$rss-name: 'rss';
$rss-x: 257px;
$rss-y: 90px;
$rss-offset-x: -257px;
$rss-offset-y: -90px;
$rss-width: 18px;
$rss-height: 18px;
$rss-total-width: 277px;
$rss-total-height: 214px;
$rss-image: '/client/styles/images/sprite.png';
$rss: (257px, 90px, -257px, -90px, 18px, 18px, 277px, 214px, '/client/styles/images/sprite.png', 'rss', );
$scroll-top-name: 'scroll-top';
$scroll-top-x: 64px;
$scroll-top-y: 144px;
$scroll-top-offset-x: -64px;
$scroll-top-offset-y: -144px;
$scroll-top-width: 16px;
$scroll-top-height: 10px;
$scroll-top-total-width: 277px;
$scroll-top-total-height: 214px;
$scroll-top-image: '/client/styles/images/sprite.png';
$scroll-top: (64px, 144px, -64px, -144px, 16px, 10px, 277px, 214px, '/client/styles/images/sprite.png', 'scroll-top', );
$search-open-name: 'search-open';
$search-open-x: 93px;
$search-open-y: 115px;
$search-open-offset-x: -93px;
$search-open-offset-y: -115px;
$search-open-width: 24px;
$search-open-height: 24px;
$search-open-total-width: 277px;
$search-open-total-height: 214px;
$search-open-image: '/client/styles/images/sprite.png';
$search-open: (93px, 115px, -93px, -115px, 24px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'search-open', );
$search-name: 'search';
$search-x: 122px;
$search-y: 115px;
$search-offset-x: -122px;
$search-offset-y: -115px;
$search-width: 24px;
$search-height: 24px;
$search-total-width: 277px;
$search-total-height: 214px;
$search-image: '/client/styles/images/sprite.png';
$search: (122px, 115px, -122px, -115px, 24px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'search', );
$slider-next-name: 'slider-next';
$slider-next-x: 38px;
$slider-next-y: 190px;
$slider-next-offset-x: -38px;
$slider-next-offset-y: -190px;
$slider-next-width: 14px;
$slider-next-height: 24px;
$slider-next-total-width: 277px;
$slider-next-total-height: 214px;
$slider-next-image: '/client/styles/images/sprite.png';
$slider-next: (38px, 190px, -38px, -190px, 14px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'slider-next', );
$slider-prev-name: 'slider-prev';
$slider-prev-x: 19px;
$slider-prev-y: 190px;
$slider-prev-offset-x: -19px;
$slider-prev-offset-y: -190px;
$slider-prev-width: 14px;
$slider-prev-height: 24px;
$slider-prev-total-width: 277px;
$slider-prev-total-height: 214px;
$slider-prev-image: '/client/styles/images/sprite.png';
$slider-prev: (19px, 190px, -19px, -190px, 14px, 24px, 277px, 214px, '/client/styles/images/sprite.png', 'slider-prev', );
$small-close-name: 'small-close';
$small-close-x: 47px;
$small-close-y: 164px;
$small-close-offset-x: -47px;
$small-close-offset-y: -164px;
$small-close-width: 14px;
$small-close-height: 14px;
$small-close-total-width: 277px;
$small-close-total-height: 214px;
$small-close-image: '/client/styles/images/sprite.png';
$small-close: (47px, 164px, -47px, -164px, 14px, 14px, 277px, 214px, '/client/styles/images/sprite.png', 'small-close', );
$text-link-name: 'text-link';
$text-link-x: 267px;
$text-link-y: 115px;
$text-link-offset-x: -267px;
$text-link-offset-y: -115px;
$text-link-width: 6px;
$text-link-height: 9px;
$text-link-total-width: 277px;
$text-link-total-height: 214px;
$text-link-image: '/client/styles/images/sprite.png';
$text-link: (267px, 115px, -267px, -115px, 6px, 9px, 277px, 214px, '/client/styles/images/sprite.png', 'text-link', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 222px;
$twitter-hover-y: 57px;
$twitter-hover-offset-x: -222px;
$twitter-hover-offset-y: -57px;
$twitter-hover-width: 20px;
$twitter-hover-height: 16px;
$twitter-hover-total-width: 277px;
$twitter-hover-total-height: 214px;
$twitter-hover-image: '/client/styles/images/sprite.png';
$twitter-hover: (222px, 57px, -222px, -57px, 20px, 16px, 277px, 214px, '/client/styles/images/sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 197px;
$twitter-y: 57px;
$twitter-offset-x: -197px;
$twitter-offset-y: -57px;
$twitter-width: 20px;
$twitter-height: 16px;
$twitter-total-width: 277px;
$twitter-total-height: 214px;
$twitter-image: '/client/styles/images/sprite.png';
$twitter: (197px, 57px, -197px, -57px, 20px, 16px, 277px, 214px, '/client/styles/images/sprite.png', 'twitter', );
$arrow-inside-2x-name: 'arrow-inside-2x';
$arrow-inside-2x-x: 44px;
$arrow-inside-2x-y: 230px;
$arrow-inside-2x-offset-x: -44px;
$arrow-inside-2x-offset-y: -230px;
$arrow-inside-2x-width: 32px;
$arrow-inside-2x-height: 80px;
$arrow-inside-2x-total-width: 554px;
$arrow-inside-2x-total-height: 428px;
$arrow-inside-2x-image: '../sprite-2x.png';
$arrow-inside-2x: (44px, 230px, -44px, -230px, 32px, 80px, 554px, 428px, '../sprite-2x.png', 'arrow-inside-2x', );
$arrow-left-2x-name: 'arrow-left-2x';
$arrow-left-2x-x: 0px;
$arrow-left-2x-y: 380px;
$arrow-left-2x-offset-x: 0px;
$arrow-left-2x-offset-y: -380px;
$arrow-left-2x-width: 28px;
$arrow-left-2x-height: 48px;
$arrow-left-2x-total-width: 554px;
$arrow-left-2x-total-height: 428px;
$arrow-left-2x-image: '../sprite-2x.png';
$arrow-left-2x: (0px, 380px, 0px, -380px, 28px, 48px, 554px, 428px, '../sprite-2x.png', 'arrow-left-2x', );
$arrow-top-2x-name: 'arrow-top-2x';
$arrow-top-2x-x: 114px;
$arrow-top-2x-y: 380px;
$arrow-top-2x-offset-x: -114px;
$arrow-top-2x-offset-y: -380px;
$arrow-top-2x-width: 28px;
$arrow-top-2x-height: 48px;
$arrow-top-2x-total-width: 554px;
$arrow-top-2x-total-height: 428px;
$arrow-top-2x-image: '../sprite-2x.png';
$arrow-top-2x: (114px, 380px, -114px, -380px, 28px, 48px, 554px, 428px, '../sprite-2x.png', 'arrow-top-2x', );
$article-arrow-2x-name: 'article-arrow-2x';
$article-arrow-2x-x: 184px;
$article-arrow-2x-y: 114px;
$article-arrow-2x-offset-x: -184px;
$article-arrow-2x-offset-y: -114px;
$article-arrow-2x-width: 84px;
$article-arrow-2x-height: 32px;
$article-arrow-2x-total-width: 554px;
$article-arrow-2x-total-height: 428px;
$article-arrow-2x-image: '../sprite-2x.png';
$article-arrow-2x: (184px, 114px, -184px, -114px, 84px, 32px, 554px, 428px, '../sprite-2x.png', 'article-arrow-2x', );
$article-close-2x-name: 'article-close-2x';
$article-close-2x-x: 494px;
$article-close-2x-y: 114px;
$article-close-2x-offset-x: -494px;
$article-close-2x-offset-y: -114px;
$article-close-2x-width: 30px;
$article-close-2x-height: 28px;
$article-close-2x-total-width: 554px;
$article-close-2x-total-height: 428px;
$article-close-2x-image: '../sprite-2x.png';
$article-close-2x: (494px, 114px, -494px, -114px, 30px, 28px, 554px, 428px, '../sprite-2x.png', 'article-close-2x', );
$audio-play-2x-name: 'audio-play-2x';
$audio-play-2x-x: 58px;
$audio-play-2x-y: 328px;
$audio-play-2x-offset-x: -58px;
$audio-play-2x-offset-y: -328px;
$audio-play-2x-width: 26px;
$audio-play-2x-height: 36px;
$audio-play-2x-total-width: 554px;
$audio-play-2x-total-height: 428px;
$audio-play-2x-image: '../sprite-2x.png';
$audio-play-2x: (58px, 328px, -58px, -328px, 26px, 36px, 554px, 428px, '../sprite-2x.png', 'audio-play-2x', );
$audio-sound-2x-name: 'audio-sound-2x';
$audio-sound-2x-x: 170px;
$audio-sound-2x-y: 288px;
$audio-sound-2x-offset-x: -170px;
$audio-sound-2x-offset-y: -288px;
$audio-sound-2x-width: 28px;
$audio-sound-2x-height: 20px;
$audio-sound-2x-total-width: 554px;
$audio-sound-2x-total-height: 428px;
$audio-sound-2x-image: '../sprite-2x.png';
$audio-sound-2x: (170px, 288px, -170px, -288px, 28px, 20px, 554px, 428px, '../sprite-2x.png', 'audio-sound-2x', );
$close-2x-name: 'close-2x';
$close-2x-x: 302px;
$close-2x-y: 230px;
$close-2x-offset-x: -302px;
$close-2x-offset-y: -230px;
$close-2x-width: 48px;
$close-2x-height: 48px;
$close-2x-total-width: 554px;
$close-2x-total-height: 428px;
$close-2x-image: '../sprite-2x.png';
$close-2x: (302px, 230px, -302px, -230px, 48px, 48px, 554px, 428px, '../sprite-2x.png', 'close-2x', );
$close-detail-2x-name: 'close-detail-2x';
$close-detail-2x-x: 128px;
$close-detail-2x-y: 230px;
$close-detail-2x-offset-x: -128px;
$close-detail-2x-offset-y: -230px;
$close-detail-2x-width: 48px;
$close-detail-2x-height: 48px;
$close-detail-2x-total-width: 554px;
$close-detail-2x-total-height: 428px;
$close-detail-2x-image: '../sprite-2x.png';
$close-detail-2x: (128px, 230px, -128px, -230px, 48px, 48px, 554px, 428px, '../sprite-2x.png', 'close-detail-2x', );
$date-2x-name: 'date-2x';
$date-2x-x: 534px;
$date-2x-y: 114px;
$date-2x-offset-x: -534px;
$date-2x-offset-y: -114px;
$date-2x-width: 16px;
$date-2x-height: 16px;
$date-2x-total-width: 554px;
$date-2x-total-height: 428px;
$date-2x-image: '../sprite-2x.png';
$date-2x: (534px, 114px, -534px, -114px, 16px, 16px, 554px, 428px, '../sprite-2x.png', 'date-2x', );
$facebook-2x-name: 'facebook-2x';
$facebook-2x-x: 118px;
$facebook-2x-y: 180px;
$facebook-2x-offset-x: -118px;
$facebook-2x-offset-y: -180px;
$facebook-2x-width: 42px;
$facebook-2x-height: 40px;
$facebook-2x-total-width: 554px;
$facebook-2x-total-height: 428px;
$facebook-2x-image: '../sprite-2x.png';
$facebook-2x: (118px, 180px, -118px, -180px, 42px, 40px, 554px, 428px, '../sprite-2x.png', 'facebook-2x', );
$facebook-hover-2x-name: 'facebook-hover-2x';
$facebook-hover-2x-x: 170px;
$facebook-hover-2x-y: 180px;
$facebook-hover-2x-offset-x: -170px;
$facebook-hover-2x-offset-y: -180px;
$facebook-hover-2x-width: 42px;
$facebook-hover-2x-height: 40px;
$facebook-hover-2x-total-width: 554px;
$facebook-hover-2x-total-height: 428px;
$facebook-hover-2x-image: '../sprite-2x.png';
$facebook-hover-2x: (170px, 180px, -170px, -180px, 42px, 40px, 554px, 428px, '../sprite-2x.png', 'facebook-hover-2x', );
$filter-2x-name: 'filter-2x';
$filter-2x-x: 360px;
$filter-2x-y: 230px;
$filter-2x-offset-x: -360px;
$filter-2x-offset-y: -230px;
$filter-2x-width: 48px;
$filter-2x-height: 42px;
$filter-2x-total-width: 554px;
$filter-2x-total-height: 428px;
$filter-2x-image: '../sprite-2x.png';
$filter-2x: (360px, 230px, -360px, -230px, 48px, 42px, 554px, 428px, '../sprite-2x.png', 'filter-2x', );
$filter-checked-2x-name: 'filter-checked-2x';
$filter-checked-2x-x: 418px;
$filter-checked-2x-y: 230px;
$filter-checked-2x-offset-x: -418px;
$filter-checked-2x-offset-y: -230px;
$filter-checked-2x-width: 48px;
$filter-checked-2x-height: 42px;
$filter-checked-2x-total-width: 554px;
$filter-checked-2x-total-height: 428px;
$filter-checked-2x-image: '../sprite-2x.png';
$filter-checked-2x: (418px, 230px, -418px, -230px, 48px, 42px, 554px, 428px, '../sprite-2x.png', 'filter-checked-2x', );
$filter-open-2x-name: 'filter-open-2x';
$filter-open-2x-x: 476px;
$filter-open-2x-y: 230px;
$filter-open-2x-offset-x: -476px;
$filter-open-2x-offset-y: -230px;
$filter-open-2x-width: 48px;
$filter-open-2x-height: 42px;
$filter-open-2x-total-width: 554px;
$filter-open-2x-total-height: 428px;
$filter-open-2x-image: '../sprite-2x.png';
$filter-open-2x: (476px, 230px, -476px, -230px, 48px, 42px, 554px, 428px, '../sprite-2x.png', 'filter-open-2x', );
$instagram-2x-name: 'instagram-2x';
$instagram-2x-x: 272px;
$instagram-2x-y: 180px;
$instagram-2x-offset-x: -272px;
$instagram-2x-offset-y: -180px;
$instagram-2x-width: 40px;
$instagram-2x-height: 40px;
$instagram-2x-total-width: 554px;
$instagram-2x-total-height: 428px;
$instagram-2x-image: '../sprite-2x.png';
$instagram-2x: (272px, 180px, -272px, -180px, 40px, 40px, 554px, 428px, '../sprite-2x.png', 'instagram-2x', );
$instagram-hover-2x-name: 'instagram-hover-2x';
$instagram-hover-2x-x: 222px;
$instagram-hover-2x-y: 180px;
$instagram-hover-2x-offset-x: -222px;
$instagram-hover-2x-offset-y: -180px;
$instagram-hover-2x-width: 40px;
$instagram-hover-2x-height: 40px;
$instagram-hover-2x-total-width: 554px;
$instagram-hover-2x-total-height: 428px;
$instagram-hover-2x-image: '../sprite-2x.png';
$instagram-hover-2x: (222px, 180px, -222px, -180px, 40px, 40px, 554px, 428px, '../sprite-2x.png', 'instagram-hover-2x', );
$lan-arrow-detail-2x-name: 'lan-arrow-detail-2x';
$lan-arrow-detail-2x-x: 0px;
$lan-arrow-detail-2x-y: 230px;
$lan-arrow-detail-2x-offset-x: 0px;
$lan-arrow-detail-2x-offset-y: -230px;
$lan-arrow-detail-2x-width: 34px;
$lan-arrow-detail-2x-height: 88px;
$lan-arrow-detail-2x-total-width: 554px;
$lan-arrow-detail-2x-total-height: 428px;
$lan-arrow-detail-2x-image: '../sprite-2x.png';
$lan-arrow-detail-2x: (0px, 230px, 0px, -230px, 34px, 88px, 554px, 428px, '../sprite-2x.png', 'lan-arrow-detail-2x', );
$left-article-arrow-2x-name: 'left-article-arrow-2x';
$left-article-arrow-2x-x: 86px;
$left-article-arrow-2x-y: 230px;
$left-article-arrow-2x-offset-x: -86px;
$left-article-arrow-2x-offset-y: -230px;
$left-article-arrow-2x-width: 32px;
$left-article-arrow-2x-height: 80px;
$left-article-arrow-2x-total-width: 554px;
$left-article-arrow-2x-total-height: 428px;
$left-article-arrow-2x-image: '../sprite-2x.png';
$left-article-arrow-2x: (86px, 230px, -86px, -230px, 32px, 80px, 554px, 428px, '../sprite-2x.png', 'left-article-arrow-2x', );
$mail-2x-name: 'mail-2x';
$mail-2x-x: 278px;
$mail-2x-y: 114px;
$mail-2x-offset-x: -278px;
$mail-2x-offset-y: -114px;
$mail-2x-width: 48px;
$mail-2x-height: 32px;
$mail-2x-total-width: 554px;
$mail-2x-total-height: 428px;
$mail-2x-image: '../sprite-2x.png';
$mail-2x: (278px, 114px, -278px, -114px, 48px, 32px, 554px, 428px, '../sprite-2x.png', 'mail-2x', );
$mail-hover-2x-name: 'mail-hover-2x';
$mail-hover-2x-x: 336px;
$mail-hover-2x-y: 114px;
$mail-hover-2x-offset-x: -336px;
$mail-hover-2x-offset-y: -114px;
$mail-hover-2x-width: 48px;
$mail-hover-2x-height: 32px;
$mail-hover-2x-total-width: 554px;
$mail-hover-2x-total-height: 428px;
$mail-hover-2x-image: '../sprite-2x.png';
$mail-hover-2x: (336px, 114px, -336px, -114px, 48px, 32px, 554px, 428px, '../sprite-2x.png', 'mail-hover-2x', );
$news-close-2x-name: 'news-close-2x';
$news-close-2x-x: 118px;
$news-close-2x-y: 114px;
$news-close-2x-offset-x: -118px;
$news-close-2x-offset-y: -114px;
$news-close-2x-width: 56px;
$news-close-2x-height: 56px;
$news-close-2x-total-width: 554px;
$news-close-2x-total-height: 428px;
$news-close-2x-image: '../sprite-2x.png';
$news-close-2x: (118px, 114px, -118px, -114px, 56px, 56px, 554px, 428px, '../sprite-2x.png', 'news-close-2x', );
$overview-2x-name: 'overview-2x';
$overview-2x-x: 0px;
$overview-2x-y: 328px;
$overview-2x-offset-x: 0px;
$overview-2x-offset-y: -328px;
$overview-2x-width: 48px;
$overview-2x-height: 42px;
$overview-2x-total-width: 554px;
$overview-2x-total-height: 428px;
$overview-2x-image: '../sprite-2x.png';
$overview-2x: (0px, 328px, 0px, -328px, 48px, 42px, 554px, 428px, '../sprite-2x.png', 'overview-2x', );
$pinterest-2x-name: 'pinterest-2x';
$pinterest-2x-x: 322px;
$pinterest-2x-y: 180px;
$pinterest-2x-offset-x: -322px;
$pinterest-2x-offset-y: -180px;
$pinterest-2x-width: 40px;
$pinterest-2x-height: 40px;
$pinterest-2x-total-width: 554px;
$pinterest-2x-total-height: 428px;
$pinterest-2x-image: '../sprite-2x.png';
$pinterest-2x: (322px, 180px, -322px, -180px, 40px, 40px, 554px, 428px, '../sprite-2x.png', 'pinterest-2x', );
$pinterest-hover-2x-name: 'pinterest-hover-2x';
$pinterest-hover-2x-x: 372px;
$pinterest-hover-2x-y: 180px;
$pinterest-hover-2x-offset-x: -372px;
$pinterest-hover-2x-offset-y: -180px;
$pinterest-hover-2x-width: 40px;
$pinterest-hover-2x-height: 40px;
$pinterest-hover-2x-total-width: 554px;
$pinterest-hover-2x-total-height: 428px;
$pinterest-hover-2x-image: '../sprite-2x.png';
$pinterest-hover-2x: (372px, 180px, -372px, -180px, 40px, 40px, 554px, 428px, '../sprite-2x.png', 'pinterest-hover-2x', );
$play-2x-name: 'play-2x';
$play-2x-x: 0px;
$play-2x-y: 114px;
$play-2x-offset-x: 0px;
$play-2x-offset-y: -114px;
$play-2x-width: 108px;
$play-2x-height: 106px;
$play-2x-total-width: 554px;
$play-2x-total-height: 428px;
$play-2x-image: '../sprite-2x.png';
$play-2x: (0px, 114px, 0px, -114px, 108px, 106px, 554px, 428px, '../sprite-2x.png', 'play-2x', );
$postbank-innovation-2x-name: 'postbank-innovation-2x';
$postbank-innovation-2x-x: 0px;
$postbank-innovation-2x-y: 0px;
$postbank-innovation-2x-offset-x: 0px;
$postbank-innovation-2x-offset-y: 0px;
$postbank-innovation-2x-width: 554px;
$postbank-innovation-2x-height: 104px;
$postbank-innovation-2x-total-width: 554px;
$postbank-innovation-2x-total-height: 428px;
$postbank-innovation-2x-image: '../sprite-2x.png';
$postbank-innovation-2x: (0px, 0px, 0px, 0px, 554px, 104px, 554px, 428px, '../sprite-2x.png', 'postbank-innovation-2x', );
$rss-2x-name: 'rss-2x';
$rss-2x-x: 422px;
$rss-2x-y: 180px;
$rss-2x-offset-x: -422px;
$rss-2x-offset-y: -180px;
$rss-2x-width: 36px;
$rss-2x-height: 36px;
$rss-2x-total-width: 554px;
$rss-2x-total-height: 428px;
$rss-2x-image: '../sprite-2x.png';
$rss-2x: (422px, 180px, -422px, -180px, 36px, 36px, 554px, 428px, '../sprite-2x.png', 'rss-2x', );
$rss-color-2x-name: 'rss-color-2x';
$rss-color-2x-x: 468px;
$rss-color-2x-y: 180px;
$rss-color-2x-offset-x: -468px;
$rss-color-2x-offset-y: -180px;
$rss-color-2x-width: 36px;
$rss-color-2x-height: 36px;
$rss-color-2x-total-width: 554px;
$rss-color-2x-total-height: 428px;
$rss-color-2x-image: '../sprite-2x.png';
$rss-color-2x: (468px, 180px, -468px, -180px, 36px, 36px, 554px, 428px, '../sprite-2x.png', 'rss-color-2x', );
$rss-hover-2x-name: 'rss-hover-2x';
$rss-hover-2x-x: 514px;
$rss-hover-2x-y: 180px;
$rss-hover-2x-offset-x: -514px;
$rss-hover-2x-offset-y: -180px;
$rss-hover-2x-width: 36px;
$rss-hover-2x-height: 36px;
$rss-hover-2x-total-width: 554px;
$rss-hover-2x-total-height: 428px;
$rss-hover-2x-image: '../sprite-2x.png';
$rss-hover-2x: (514px, 180px, -514px, -180px, 36px, 36px, 554px, 428px, '../sprite-2x.png', 'rss-hover-2x', );
$scroll-top-2x-name: 'scroll-top-2x';
$scroll-top-2x-x: 128px;
$scroll-top-2x-y: 288px;
$scroll-top-2x-offset-x: -128px;
$scroll-top-2x-offset-y: -288px;
$scroll-top-2x-width: 32px;
$scroll-top-2x-height: 20px;
$scroll-top-2x-total-width: 554px;
$scroll-top-2x-total-height: 428px;
$scroll-top-2x-image: '../sprite-2x.png';
$scroll-top-2x: (128px, 288px, -128px, -288px, 32px, 20px, 554px, 428px, '../sprite-2x.png', 'scroll-top-2x', );
$search-2x-name: 'search-2x';
$search-2x-x: 186px;
$search-2x-y: 230px;
$search-2x-offset-x: -186px;
$search-2x-offset-y: -230px;
$search-2x-width: 48px;
$search-2x-height: 48px;
$search-2x-total-width: 554px;
$search-2x-total-height: 428px;
$search-2x-image: '../sprite-2x.png';
$search-2x: (186px, 230px, -186px, -230px, 48px, 48px, 554px, 428px, '../sprite-2x.png', 'search-2x', );
$search-open-2x-name: 'search-open-2x';
$search-open-2x-x: 244px;
$search-open-2x-y: 230px;
$search-open-2x-offset-x: -244px;
$search-open-2x-offset-y: -230px;
$search-open-2x-width: 48px;
$search-open-2x-height: 48px;
$search-open-2x-total-width: 554px;
$search-open-2x-total-height: 428px;
$search-open-2x-image: '../sprite-2x.png';
$search-open-2x: (244px, 230px, -244px, -230px, 48px, 48px, 554px, 428px, '../sprite-2x.png', 'search-open-2x', );
$slider-next-2x-name: 'slider-next-2x';
$slider-next-2x-x: 76px;
$slider-next-2x-y: 380px;
$slider-next-2x-offset-x: -76px;
$slider-next-2x-offset-y: -380px;
$slider-next-2x-width: 28px;
$slider-next-2x-height: 48px;
$slider-next-2x-total-width: 554px;
$slider-next-2x-total-height: 428px;
$slider-next-2x-image: '../sprite-2x.png';
$slider-next-2x: (76px, 380px, -76px, -380px, 28px, 48px, 554px, 428px, '../sprite-2x.png', 'slider-next-2x', );
$slider-prev-2x-name: 'slider-prev-2x';
$slider-prev-2x-x: 38px;
$slider-prev-2x-y: 380px;
$slider-prev-2x-offset-x: -38px;
$slider-prev-2x-offset-y: -380px;
$slider-prev-2x-width: 28px;
$slider-prev-2x-height: 48px;
$slider-prev-2x-total-width: 554px;
$slider-prev-2x-total-height: 428px;
$slider-prev-2x-image: '../sprite-2x.png';
$slider-prev-2x: (38px, 380px, -38px, -380px, 28px, 48px, 554px, 428px, '../sprite-2x.png', 'slider-prev-2x', );
$small-close-2x-name: 'small-close-2x';
$small-close-2x-x: 94px;
$small-close-2x-y: 328px;
$small-close-2x-offset-x: -94px;
$small-close-2x-offset-y: -328px;
$small-close-2x-width: 28px;
$small-close-2x-height: 28px;
$small-close-2x-total-width: 554px;
$small-close-2x-total-height: 428px;
$small-close-2x-image: '../sprite-2x.png';
$small-close-2x: (94px, 328px, -94px, -328px, 28px, 28px, 554px, 428px, '../sprite-2x.png', 'small-close-2x', );
$text-link-2x-name: 'text-link-2x';
$text-link-2x-x: 534px;
$text-link-2x-y: 230px;
$text-link-2x-offset-x: -534px;
$text-link-2x-offset-y: -230px;
$text-link-2x-width: 12px;
$text-link-2x-height: 18px;
$text-link-2x-total-width: 554px;
$text-link-2x-total-height: 428px;
$text-link-2x-image: '../sprite-2x.png';
$text-link-2x: (534px, 230px, -534px, -230px, 12px, 18px, 554px, 428px, '../sprite-2x.png', 'text-link-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 444px;
$twitter-2x-y: 114px;
$twitter-2x-offset-x: -444px;
$twitter-2x-offset-y: -114px;
$twitter-2x-width: 40px;
$twitter-2x-height: 32px;
$twitter-2x-total-width: 554px;
$twitter-2x-total-height: 428px;
$twitter-2x-image: '../sprite-2x.png';
$twitter-2x: (444px, 114px, -444px, -114px, 40px, 32px, 554px, 428px, '../sprite-2x.png', 'twitter-2x', );
$twitter-hover-2x-name: 'twitter-hover-2x';
$twitter-hover-2x-x: 394px;
$twitter-hover-2x-y: 114px;
$twitter-hover-2x-offset-x: -394px;
$twitter-hover-2x-offset-y: -114px;
$twitter-hover-2x-width: 40px;
$twitter-hover-2x-height: 32px;
$twitter-hover-2x-total-width: 554px;
$twitter-hover-2x-total-height: 428px;
$twitter-hover-2x-image: '../sprite-2x.png';
$twitter-hover-2x: (394px, 114px, -394px, -114px, 40px, 32px, 554px, 428px, '../sprite-2x.png', 'twitter-hover-2x', );
$spritesheet-width: 277px;
$spritesheet-height: 214px;
$spritesheet-image: '/client/styles/images/sprite.png';
$spritesheet-sprites: ($arrow-inside, $arrow-left, $arrow-top, $article-arrow, $article-close, $audio-play, $audio-sound, $close-detail, $close, $date, $facebook-hover, $facebook, $filter-checked, $filter-open, $filter, $instagram-hover, $instagram, $lan-arrow-detail, $left-article-arrow, $mail-hover, $mail, $news-close, $overview, $pinterest-hover, $pinterest, $play, $postbank-innovation, $rss-color, $rss-hover, $rss, $scroll-top, $search-open, $search, $slider-next, $slider-prev, $small-close, $text-link, $twitter-hover, $twitter, );
$spritesheet: (277px, 214px, '/client/styles/images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 554px;
$retina-spritesheet-height: 428px;
$retina-spritesheet-image: '../sprite-2x.png';
$retina-spritesheet-sprites: ($arrow-inside-2x, $arrow-left-2x, $arrow-top-2x, $article-arrow-2x, $article-close-2x, $audio-play-2x, $audio-sound-2x, $close-2x, $close-detail-2x, $date-2x, $facebook-2x, $facebook-hover-2x, $filter-2x, $filter-checked-2x, $filter-open-2x, $instagram-2x, $instagram-hover-2x, $lan-arrow-detail-2x, $left-article-arrow-2x, $mail-2x, $mail-hover-2x, $news-close-2x, $overview-2x, $pinterest-2x, $pinterest-hover-2x, $play-2x, $postbank-innovation-2x, $rss-2x, $rss-color-2x, $rss-hover-2x, $scroll-top-2x, $search-2x, $search-open-2x, $slider-next-2x, $slider-prev-2x, $small-close-2x, $text-link-2x, $twitter-2x, $twitter-hover-2x, );
$retina-spritesheet: (554px, 428px, '../sprite-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$arrow-inside-group-name: 'arrow-inside';
$arrow-inside-group: ('arrow-inside', $arrow-inside, $arrow-inside-2x, );
$arrow-left-group-name: 'arrow-left';
$arrow-left-group: ('arrow-left', $arrow-left, $arrow-left-2x, );
$arrow-top-group-name: 'arrow-top';
$arrow-top-group: ('arrow-top', $arrow-top, $arrow-top-2x, );
$article-arrow-group-name: 'article-arrow';
$article-arrow-group: ('article-arrow', $article-arrow, $article-arrow-2x, );
$article-close-group-name: 'article-close';
$article-close-group: ('article-close', $article-close, $article-close-2x, );
$audio-play-group-name: 'audio-play';
$audio-play-group: ('audio-play', $audio-play, $audio-play-2x, );
$audio-sound-group-name: 'audio-sound';
$audio-sound-group: ('audio-sound', $audio-sound, $audio-sound-2x, );
$close-detail-group-name: 'close-detail';
$close-detail-group: ('close-detail', $close-detail, $close-2x, );
$close-group-name: 'close';
$close-group: ('close', $close, $close-detail-2x, );
$date-group-name: 'date';
$date-group: ('date', $date, $date-2x, );
$facebook-hover-group-name: 'facebook-hover';
$facebook-hover-group: ('facebook-hover', $facebook-hover, $facebook-2x, );
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-hover-2x, );
$filter-checked-group-name: 'filter-checked';
$filter-checked-group: ('filter-checked', $filter-checked, $filter-2x, );
$filter-open-group-name: 'filter-open';
$filter-open-group: ('filter-open', $filter-open, $filter-checked-2x, );
$filter-group-name: 'filter';
$filter-group: ('filter', $filter, $filter-open-2x, );
$instagram-hover-group-name: 'instagram-hover';
$instagram-hover-group: ('instagram-hover', $instagram-hover, $instagram-2x, );
$instagram-group-name: 'instagram';
$instagram-group: ('instagram', $instagram, $instagram-hover-2x, );
$lan-arrow-detail-group-name: 'lan-arrow-detail';
$lan-arrow-detail-group: ('lan-arrow-detail', $lan-arrow-detail, $lan-arrow-detail-2x, );
$left-article-arrow-group-name: 'left-article-arrow';
$left-article-arrow-group: ('left-article-arrow', $left-article-arrow, $left-article-arrow-2x, );
$mail-hover-group-name: 'mail-hover';
$mail-hover-group: ('mail-hover', $mail-hover, $mail-2x, );
$mail-group-name: 'mail';
$mail-group: ('mail', $mail, $mail-hover-2x, );
$news-close-group-name: 'news-close';
$news-close-group: ('news-close', $news-close, $news-close-2x, );
$overview-group-name: 'overview';
$overview-group: ('overview', $overview, $overview-2x, );
$pinterest-hover-group-name: 'pinterest-hover';
$pinterest-hover-group: ('pinterest-hover', $pinterest-hover, $pinterest-2x, );
$pinterest-group-name: 'pinterest';
$pinterest-group: ('pinterest', $pinterest, $pinterest-hover-2x, );
$play-group-name: 'play';
$play-group: ('play', $play, $play-2x, );
$postbank-innovation-group-name: 'postbank-innovation';
$postbank-innovation-group: ('postbank-innovation', $postbank-innovation, $postbank-innovation-2x, );
$rss-color-group-name: 'rss-color';
$rss-color-group: ('rss-color', $rss-color, $rss-2x, );
$rss-hover-group-name: 'rss-hover';
$rss-hover-group: ('rss-hover', $rss-hover, $rss-color-2x, );
$rss-group-name: 'rss';
$rss-group: ('rss', $rss, $rss-hover-2x, );
$scroll-top-group-name: 'scroll-top';
$scroll-top-group: ('scroll-top', $scroll-top, $scroll-top-2x, );
$search-open-group-name: 'search-open';
$search-open-group: ('search-open', $search-open, $search-2x, );
$search-group-name: 'search';
$search-group: ('search', $search, $search-open-2x, );
$slider-next-group-name: 'slider-next';
$slider-next-group: ('slider-next', $slider-next, $slider-next-2x, );
$slider-prev-group-name: 'slider-prev';
$slider-prev-group: ('slider-prev', $slider-prev, $slider-prev-2x, );
$small-close-group-name: 'small-close';
$small-close-group: ('small-close', $small-close, $small-close-2x, );
$text-link-group-name: 'text-link';
$text-link-group: ('text-link', $text-link, $text-link-2x, );
$twitter-hover-group-name: 'twitter-hover';
$twitter-hover-group: ('twitter-hover', $twitter-hover, $twitter-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-hover-2x, );
$retina-groups: ($arrow-inside-group, $arrow-left-group, $arrow-top-group, $article-arrow-group, $article-close-group, $audio-play-group, $audio-sound-group, $close-detail-group, $close-group, $date-group, $facebook-hover-group, $facebook-group, $filter-checked-group, $filter-open-group, $filter-group, $instagram-hover-group, $instagram-group, $lan-arrow-detail-group, $left-article-arrow-group, $mail-hover-group, $mail-group, $news-close-group, $overview-group, $pinterest-hover-group, $pinterest-group, $play-group, $postbank-innovation-group, $rss-color-group, $rss-hover-group, $rss-group, $scroll-top-group, $search-open-group, $search-group, $slider-next-group, $slider-prev-group, $small-close-group, $text-link-group, $twitter-hover-group, $twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
