<div class="modal-header subscribe-modal-header">
  <button type="button" class="close" ng-click="close()">
    <span aria-hidden="true">×</span>
  </button>
  <p ng-show="step == 1">News abonnieren</p>
  <!-- <p ng-show="step == 2">Vielen Dank!</p> -->
</div>
<div class="modal-body subscribe-modal-body">
  <iframe src="http://uat-dwebge.www.postbank.de/privatkunden/formulare/pk_newsletter_innovationsblog.html" frameborder="0" style="width: 100%;height: 230px;"></iframe>

  <!-- <form class="subscribe-form" ng-show="step == 1">
    <p>Postbank – Bleiben Sie immer auf dem neuesten Stand!</p>
    <div class="form-group" ng-class="{'has-error': error}">
      <span class="error">· E-Mail-Adresse bereits registriert</span>
      <input class="form-control" type="email" placeholder="Ihr E-Mail-Adresse" ng-model="email">
    </div>
    <div class="form-group">
      <button class="btn btn-primary full-width" ng-click="submitSubscribeForm()">Newsletter abonnieren</button>
    </div>
    <div class="order">
      <span class="subscribe-form-dashes">---------------------</span>
      <span>oder</span>
      <span class="subscribe-form-dashes">---------------------</span>
    </div>
    <div class="form-group">
      <a href="" class="btn btn-invert full-width btn-rss" ng-click="submitSubscribeForm()">
        <i class="icon-rss"></i>
        <span>RSS-Feed abonnieren</span>
      </a>
    </div>
  </form>

  <div class="step-2" ng-show="step == 2">
    <p><strong>Sehr geehrte Leserin, sehr geehrter Leser,</strong></p>
    <p>wir freuen uns, dass Sie sich für unseren Newsletter interessieren.</p>
    <p>Sie erhalten in Kürze eine E-Mail. Bitte bestätigen Sie Ihr Abonnement durch einen Klick auf den entsprechenden Link. Dadurch stellen wir sicher, dass keine E-Mail-Adressen fälschlicherweise angemeldet werden.</p>
    <br>
    <p style="padding-botton: 0;">
      Herzlichste Grüße,
      <br>
      <strong>Ihr Postbank Team-Innovation</strong>
    </p>
  </div> -->

</div>
