

//Search
.search-form{
  float: left;
  width: 17%;
  border-right: 1px solid $border;
  &:hover {
    span {
      color: #477BB5;
    }
  }

  .icon-open{
    display: block;
    width: 100%;
    height: $navbar-sticky-height;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    top: -5px;
      // &:before{
      //   content: '';
      //   @include positionCenter();
      //   @include sprite($search);
      // }
  }

  .search{
    position: absolute;
    top: 0;
    left: 0;
    height: $navbar-sticky-height;
    transition: all 0.3s ease;
    width: 0;
    overflow: hidden;
    background: $navbar-sticky-bg;
    z-index: 1000;
  }

  .search-submit{
    float: left;
    width: 17%;
    height: $navbar-sticky-height;
    position: relative;
    &:after{
      content: '';
      @include positionCenter();
      @include sprite($search);
    }
    button{
      width: 100%;
      height: 100%;
      @include resetSpace();
      background: none;
    }
  }
  &.open{

    .search-submit{
      span {
        color: #333;
        font-size: 22px;
        position: relative;
        bottom: -2px;
      }
      
      &:after{
        display: none;
        // @include sprite($search-open);
      }
    }
  }

  .search-input{
    @include resetSpace();
    float: left;
    width: 63%;
    height: $navbar-sticky-height;
    padding: 0 $navpar-space 0 0;
    font-size: 20px;
    background: none;
    color: $color-title;

    @include placeholder {
      font-family: $font-family-light;
      color: $color-placeholder;
    }
  }

  .icon-close{
    float: left;
    width: 20%;
    height: $navbar-sticky-height;
    cursor: pointer;
    
  }
  .icon-close-fill {
    color: #093377;
    position: relative;
    bottom: -7px;
  }

  &.open{
    .search{
      width: 100%;
    }

    .overlay{
      display: block;
    }
    &.hide-overlay .overlay{
      display: none;
    }
  }
}