<div id="page-holder" class="page-holder">
    <app-header-desktop article-detail="showFullArticle" article="article" articles="articles" category="categoryId" is-collapsed="isCollapsed"></app-header-desktop>
    <div class="home-content" ng-class="{'detail': showFullArticle}">
        <article>
            <figure class="main-image" style="background-image: url('{{article.articleImage.imageUrl}}');">
                <img alt="{{ article.articleImage.altText }}" ng-src="{{ article.articleImage.imageUrl }}">

                <div class="tag"></div>
                <div class="detail-arrow"></div>
            </figure>
            <section class="box-content main-content" id="main-content" du-scrollspy>
                <header>
                    <div class="tag">
                        {{article.category.name}}
                    </div>
                    <h2>{{ article.subheadline }}</h2>
                    <span class="close-detail" ng-click="toggleDetails()"
                          ng-show="showFullArticle">Close full article</span>

                    <div class="post-meta">
                        <ul>
                            <li class="date">
                                <i class="icon-uhr"></i>
                                {{ article.created | date:'dd.MM.yyyy'}}
                            </li>
                        </ul>
                    </div>
                </header>

                <div class="post-content">
                    <div ng-bind-html="article.textEditor|supertrusthtml"></div>
                    <p>
                        <a class="btn btn-primary" href="" ng-click="showFullArticleFunc(article.id)"
                           ng-show="!showFullArticle">Mehr erfahren</a>
                    </p>

                    <div class="content-full" ng-show="showFullArticle">
                        <div article-content="article.fullContent" article="article"
                             slider-settings="sliderSettings"></div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>

<div id="categories-wrapper" class="articles-categories filter-open" ng-show="articleShow || showFilter" ng-class="{'state-visible': stateVisible}">
    <div id="articles-categories">
        <div style="position:relative; height: 100%; width: 100%">
            <div class="overlay"></div>

            <div class="filter-form">
                <div class="filter-collapse">
                    <div class="filter-holder">
                        <span class="arrow-top" ng-click="clearAll();">
                            <i class="icon-pfeil-oben-02"></i>
                        </span>
                        <button type="button" class="navbar-toggle collapsed" ng-class="{'active': !showFilter}" ng-click="toggleArticleList(article.id); searchOpen = false;">
                            <span class="icon-filer-komplett"></span>Übersicht
                        </button>

                        <div class="pull-right extra-nav">
                            <div class="search-form"  ng-class="{'open': searchOpen, 'hide-overlay': hideOverlay}">
                                <form ng-action="search()">
                                    <span class="icon-open" ng-click="open()">
                                        <span class="icon-suche"></span>
                                        Suche
                                    </span>
                                    <div class="search">
                                        <div class="search-submit">
                                            
                                            <button type="submit">
                                                <span class="icon-suche"></span>
                                            </button>
                                        </div>
                                        <input class="search-input" ng-model="text" placeholder="Suchbegriff eingeben" type="text" value="" name="search" id="search">
                                        <span class="icon-close-fill" ng-click="clear()" ng-show="text.length"></span>
                                    </div>
                                </form>
                            </div>
                            <button type="button" class="navbar-toggle collapsed themen-filtern" ng-click="filterFunc()">
                                <span class="icon-filter" ng-class="{'active': showFilter, 'selected': selectedCategory}">
                                    <i class="icon-filter-6"></i>
                                    <i class="icon-filter-3"></i>
                                </span>
                                <span class="filter-text" ng-class="{'active': showFilter}"  ng-hide="selectedCategory">Themen filtern</span>
                                <div class="selected-category" ng-show="selectedCategory">
                                    {{selectedCategory}}
                                    <i class="icon-close-fill" ng-click="removeSelectedCat()"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- articles list -->
                <div id="navFilter" class="navbar-filter" class="navbar-collapse collapsed" ng-show="!isCollapsed && articleShow">
                    <ul class="filter-list box-content">
                        <li ng-repeat="item in articles | filter:text" ng-class="{'active': item.active}">
                            <a href="" ng-click="showArticle(item.id)">
                                <figure>
                                    <img ng-src="{{ item.articleImage.imageUrl }}" alt="{{ item.articleImage.altText }}">
                                </figure>
                                <span>{{ item.category.name}}</span>
                                <div class="text">
                                    <p>{{item.subheadline}}</p>
                                    <div class="date">
                                        <i class="icon-uhr"></i>
                                        {{ item.created | date:'dd.MM.yyyy'}}
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-show="(articles | filter:text).length == 0" class="no-results">
                            <section class="box-content">
                                <h2>Keine Ergebnisse gefunden</h2>
                            </section>
                        </li>
                    </ul>
                    <footer class="footer" id="footer">
                        <div class="row">
                            <div class="pull-right col-xs-12 col-sm-6">
                                <ul>
                                    <li>
                                        <a href="https://www.postbank.de/postbank/wu_impressum.html" target="_blank">Impressum</a>
                                    </li>
                                    <li>
                                        <a href="https://www.postbank.de/privatkunden/pk_downloadcenter.html" target="_blank">AGB</a>
                                    </li>
                                    <li>
                                        <a href="https://www.postbank.de/postbank/popup_datenschutz.html" target="_blank">Datenschutzhinweise</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="copy-text col-xs-12 col-sm-6">&copy; 2014 Deutsche Postbank AG</div>
                        </div>
                    </footer>
                </div>

                <!-- category list -->
                <div class="navbar-filter" class="navbar-collapse collapsed" ng-show="!isCollapsed && showFilter">
                    <ul class="filter-list category-list box-content">
                        <li ng-repeat="category in categories">
                            <a href="" ng-click="showFilteredArticles(category, article.id)">
                                <figure>
                                    <img ng-src="{{ category[0].articleImage.imageUrl }}" alt="{{category[0].articleImage.altText }}">
                                </figure>
                                <span>{{ category[0].category.name }}</span>
                            </a>
                        </li>
                    </ul>
                    <footer class="footer" id="footer">
                        <div class="row">
                            <div class="pull-right col-xs-12 col-sm-6">
                                <ul>
                                    <li>
                                        <a href="https://www.postbank.de/postbank/wu_impressum.html" target="_blank">Impressum</a>
                                    </li>
                                    <li>
                                        <a href="https://www.postbank.de/privatkunden/pk_downloadcenter.html" target="_blank">AGB</a>
                                    </li>
                                    <li>
                                        <a href="https://www.postbank.de/postbank/popup_datenschutz.html" target="_blank">Datenschutzhinweise</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="copy-text col-xs-12 col-sm-6">&copy; 2014 Deutsche Postbank AG</div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%; height: 1px;"></div>